# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [4]:
import pandas as pd

# Загрузка данных из файла sp500hst.txt
data = pd.read_csv('sp500hst.txt', names=['date', 'ticker', 'open', 'high', 'low', 'close', 'volume'])

# Вывод первых 5 строк данных для проверки
data.head()

       date ticker   open     high     low  close  volume
0  20090821      A  25.60  25.6100  25.220  25.55   34758
1  20090824      A  25.64  25.7400  25.330  25.50   22247
2  20090825      A  25.50  25.7000  25.225  25.34   30891
3  20090826      A  25.32  25.6425  25.145  25.48   33334
4  20090827      A  25.50  25.5700  25.230  25.54   70176

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [5]:
# Среднее значение 3-6
mean_average = data.iloc[:, 2:6].mean() #среднее значение 3-6
mean_average

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [6]:
# Добавление столбца месяц и из date берется значение месяца
data['month'] = data.iloc[:, 0]//100%100
data.head()

       date ticker   open     high     low  close  volume  month
0  20090821      A  25.60  25.6100  25.220  25.55   34758      8
1  20090824      A  25.64  25.7400  25.330  25.50   22247      8
2  20090825      A  25.50  25.7000  25.225  25.34   30891      8
3  20090826      A  25.32  25.6425  25.145  25.48   33334      8
4  20090827      A  25.50  25.5700  25.230  25.54   70176      8

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [7]:
# Для расчёта группируется по значению ticker и суммируется volume
total_trading_volume = data.groupby('ticker')['volume'].sum()
total_trading_volume

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [8]:
# Загрузка данных из файла sp_data2.csv
data_2 = pd.read_csv('sp_data2.csv', delimiter = ';', names = ['ticker', 'shop', 'percent']) 

# Объединяем таблицы 
data_3 = pd.merge(data, data_2)
data_3.head()

,date,ticker,open,high,low,close,volume,month,shop,percent
0,20090821,A,25.60,25.6100,25.220,25.55,34758,8,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,8,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,8,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,8,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,8,Agilent Technologies,0.1%

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [9]:
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv', index_col = 0)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [10]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [11]:
# Строки, стоблцы, тип данных столбцов
recipes.shape, recipes.dtypes

((30000, 8),
 name               object
 id                  int64
 minutes             int64
 contributor_id      int64
 submitted          object
 n_steps           float64
 description        object
 n_ingredients     float64
 dtype: object)

In [12]:
# Строки, стоблцы, тип столбцов
len(reviews), len(reviews.columns), reviews.dtypes

(126696,
 5,
 user_id       int64
 recipe_id     int64
 date         object
 rating        int64
 review       object
 dtype: object)

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [13]:
# Исследование на пропуски в столбцах таблиц
recipes.isnull().sum()> 0

name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

In [14]:
# Доля строк, содержащих пропуски, в отношении к общему количеству строк
recipes[recipes.isnull().any(axis = 1)].shape[0]/recipes.shape[0]

0.5684666666666667

In [15]:
reviews.isnull().sum()>0  #в каких столбцах содержатся пропуски

user_id      False
recipe_id    False
date         False
rating       False
review        True
dtype: bool

In [16]:
reviews[reviews.isnull().any(axis=1)].shape[0]/reviews.shape[0]

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [17]:
# Среднее значение для минут, шагов и элементов из таблицы recipes
for i in ['minutes', 'n_steps', 'n_ingredients']:
    print(f'{i} -> {recipes[i].mean()}')

minutes -> 123.35813333333333
n_steps -> 9.805582137161085
n_ingredients -> 9.008285984848484

In [18]:
# Среднее значение для рейтинга из таблицы reviews
reviews['rating'].mean()

4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [19]:
# Импортируем модуль random
import random

# С помощью метода choice выбираем и генерируем 10 случайных рецептов из таблицы recipes
random_sr = pd.Series([random.choice(recipes['name']) for _ in range(10)])
random_sr

0                   easy  creamy hamburger stroganoff
1                         hamburger helper substitute
2                             amish rhubarb dumplings
3          delicious tomato salsa  recipe for canning
4    south african melktert or milk tart  custard pie
5                     hot and cold taco appetizer dip
6                                 quick mexican pizza
7                                meg s famous lasagna
8                          low carb hungarian goulash
9                    roasted garlic white bean spread
dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [20]:
# С помощью метода index меняем индекс в таблице reviews и нумеруем строки, начиная с 0
reviews.index = [i for i in range(0, len(reviews))]
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [21]:
# Из таблицы recipes выводим информацию, удовлетворяющую условиям
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [22]:
# Модификация столбца submitted в формат времени
recipes = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [61]:
# Информация о рецептах, добавленных не позже 2010 года
recipes[recipes['submitted'].dt.year < 2011]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [62]:
# Добавление description_length, в котором хранится длина описания рецепта из столбца
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [63]:
import re # импортируем модуль re
recipes['name'] = [str(i).title() for i in recipes['name']] # изменяем рецепты так, чтобы в таблице каждое слово начиналось с большой буквы
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [64]:
# Добавление в таблицу name_word_count в recipes, хранящее количество слов из названии рецепта
recipes['name_word_count'] = [len(re.sub(' +', ' ', str(i)).split(' ')) for i in recipes['name']]
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [67]:
recipes.groupby('contributor_id')['name'].count()

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

In [68]:
recipes.groupby('contributor_id')['name'].count().idxmax()

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [74]:
data_fr = reviews[['user_id', 'rating']].join(recipes[['id', 'name']]) #объединяем 2 таблицы
data_fr = data_fr.dropna(how='any') # удаляем строки с NaN
recipes_with_reviews = data_fr['id'].unique() # находим рецепты с уникальными id из новой таблицы
all_recipes = recipes['id'].unique() # находим рецепты с уникальным id из всех рецептов
recipes_without_reviews = set(all_recipes) - set(recipes_with_reviews) # математически находим 
print(len(recipes_without_reviews))

0

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes['year']=recipes['submitted'].dt.year 
recipes.groupby('year')['name'].count()

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [65]:
# Объединяем две таблицы recipes и reviews с условием и удаляем из таблицы рецепты без отзывов
frames =recipes[['id', 'name']].join(reviews[['user_id', 'rating']])
print(frames.dropna(how = 'any'))

# Выбираем строку и проверяем её наличие в нашей отфильтрованной таблице frames
recipe_without_reviews = 26
recipe_row = frames[frames['id'] == recipe_without_reviews]
print(recipe_row) # при ошибке выводит Empty DataFrame

# Вывод всех рецептов без отзывов в отдельную таблицу для доп. проверки
recipes_without_reviews = recipes[~recipes['id'].isin(reviews['recipe_id'])]
print(f'\nРецепты без отзывов:\n{recipes_without_reviews.head()}')

           id                                          name     user_id  \
0       44123         George S At The Cove  Black Bean Soup       21752
1       67664            Healthy For Them  Yogurt Popsicles      431813
2       38798                  I Can T Believe It S Spinach      400708
3       35173                          Italian  Gut Busters  2001852463
4       84797      Love Is In The Air  Beef Fondue   Sauces       95810
...       ...                                           ...         ...
29995  267661  Zurie S Holey Rustic Olive And Cheddar Bread      233065
29996  386977          Zwetschgenkuchen  Bavarian Plum Cake       14410
29997  103312   Zwiebelkuchen   Southwest German Onion Cake      180090
29998  486161                                   Zydeco Soup      117581
29999  298512        Cookies By Design   Cookies On A Stick       13796

       rating
0           5
1           5
2           4
3           5
4           5
...       ...
29995       5
29996       4
29997       5
29998       4
29999       5

[30000 rows x 4 columns]
Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

Рецепты без отзывов:
                                       name      id  minutes  contributor_id  \
26            Pasta  With Shrimp   Eggplant  223349       50          452592
29          Secret Ingredient  Bbq Meatloaf  342620       75           50969
35        Windy S  Sweet And Sour Meatballs  276594       50          341338
49  Goulashy  Beef Stew For The Slow Cooker  216068      430          446143
59             Old Bay  Grilled Steak Fries  306590       20          337736

    submitted  n_steps                                        description  \
26 2007-04-18      7.0  a nice low carb way to feel like you are eatin...
29 2008-12-09      9.0  i know what you might be thinking,'ho hum, ano...
35 2008-01-05      6.0  whenever we had a potluck lunch at the office ...
49 2007-03-10      NaN  noodle beef stew in the slow cooker...easy com...
59 2008-05-31      NaN  found this in a magazine, yet to try, but look...

    n_ingredients  description_length  name_word_count
26            9.0                54.0                4
29           10.0               326.0                4
35           14.0               467.0                6
49           13.0                56.0                7
59           15.0                56.0                5

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [59]:
reviews['review_count'] = reviews.groupby('recipe_id').count()['review']
frames2 = reviews[['recipe_id', 'review_count']].fillna(0).join(recipes[['name']])
frames2

        recipe_id  review_count                                      name
0           57993           0.0     george s at the cove  black bean soup
1          142201           0.0        healthy for them  yogurt popsicles
2          252013           0.0              i can t believe it s spinach
3          404716           0.0                      italian  gut busters
4          129396           0.0  love is in the air  beef fondue   sauces
...           ...           ...                                       ...
126691     335534           0.0                                       NaN
126692       8701           0.0                                       NaN
126693     222001           0.0                                       NaN
126694     354979           1.0                                       NaN
126695     415599           0.0                                       NaN

[126696 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [76]:
average_rating_per_recipe = reviews.groupby('recipe_id')['rating'].mean()
min_avg_rating = average_rating_per_recipe.idxmin()
recipe_with_min_avg_rating = recipes[recipes['id'] == min_avg_rating]

recipe_with_min_avg_rating

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
4080,Bugwiches,148,40,1579,1999-08-11,NaN,a little bit of fun for the kids this summer. ...,NaN,392.0,1

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [77]:
recipes_sorted = recipes.sort_values('name_word_count', ascending=False) #сортировка таблицы в порядке убывания величины name_word_count
recipes_sorted.to_csv('recipes_sorted.csv', index=False) # сохранение результатов в csv файл

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [60]:
# Сохраняем результаты в файл Excel
with pd.ExcelWriter('results.xlsx') as writer:
    # Сохраняем результаты выполнения задачи 5.1 на лист "Рецепты с оценками"
    frames.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    
    # Сохраняем результаты выполнения задачи 5.2 на лист "Количество отзывов по рецептам"
    frames2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3